@font-face {
  font-family: "iconfont"; /* Project id 3841691 */
  src: url('iconfont.woff2?t=1672142284857') format('woff2'),
       url('iconfont.woff?t=1672142284857') format('woff'),
       url('iconfont.ttf?t=1672142284857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e876";
}

.icon-weixin:before {
  content: "\e607";
}

